
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Gabriel Falcão">

    <title>FFeast</title>
    <link href='http://fonts.googleapis.com/css?family=Nova+Square' rel='stylesheet' type='text/css'>

    <link href="{{ static_url('ffeast.css') }}" rel="stylesheet">
  </head>

{% block body %}
  <body>
    {% block inner_body %}
    {% endblock %}
    <script src="{{ static_url('ffeast.js') }}"></script>
  </body>
{% endblock %} {# body #}
</html>
